@import 'node_modules/@angular/material/theming';
// Include non-theme styles for core.
@include mat-core();

//Definition primary and accent palettes
$mat-custom-primary: ( 50 : #e1e4e7, 100 : #b3bac2, 200 : #808d99, 300 : #4d5f70, 400 : #273c52, 500 : #011a33, 600 : #01172e, 700 : #011327, 800 : #010f20, 900 : #000814, A100 : #5577ff, A200 : #224eff, A400 : #0030ee, A700 : #002ad4, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #ffffff, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #ffffff, A200 : #ffffff, A400 : #ffffff, A700 : #ffffff, ));
$mat-custom-accent: ( 50 : #fce7e8, 100 : #f7c2c5, 200 : #f2999e, 300 : #ec7077, 400 : #e85259, 500 : #e4333c, 600 : #e12e36, 700 : #dd272e, 800 : #d92027, 900 : #d1141a, A100 : #ffffff, A200 : #ffcfd0, A400 : #ff9c9e, A700 : #ff8285, contrast: ( 50 : #000000, 100 : #000000, 200 : #000000, 300 : #000000, 400 : #ffffff, 500 : #ffffff, 600 : #ffffff, 700 : #ffffff, 800 : #ffffff, 900 : #ffffff, A100 : #000000, A200 : #000000, A400 : #000000, A700 : #000000, ));

// Define a theme.
$primary: mat-palette($mat-custom-primary);
$accent: mat-palette($mat-custom-accent);

/* Dark theme */
$theme: mat-dark-theme($primary, $accent);

@import '../../assets/css/app.scss'
